<section th:fragment="groups">
    <div class="container-fluid px-4">
        <h1 class="mt-4">[[#{groups.subtitle}]]</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Groups</li>
        </ol>
        
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                [[#{groups.description}]]
            </div>
            <div class="card-body">
                
                <!-- Button and modal for add new coach form-->
                <section th:include="layout/addnewgroup"></section>
                
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>[[#{coaches.tablehead.id}]]</th>
                            <th>[[#{coaches.tablehead.name}]]</th>
                            <th>[[#{location.tablehead.name}]]</th>
                            <th>[[#{actions.edit}]]</th>
                            <th>[[#{actions.delete}]]</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>[[#{coaches.tablehead.id}]]</th>
                            <th>[[#{coaches.tablehead.name}]]</th>
                            <th>[[#{location.tablehead.name}]]</th>
                            <th>[[#{actions.edit}]]</th>
                            <th>[[#{actions.delete}]]</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr th:each="group, counter : ${groups}">
                            <td>[[${counter.count}]]</td>
                            <td>[[${group.name}]]</td>
                            <td></td>
                            <td>
                                <a th:href="@{/config/groups/} + ${group.idGroup}"
                                            class="btn btn-primary">
                                    <i class="fas fa-angle-double-right"></i> [[#{actions.edit}]]
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/config/groups/delete/} + ${group.idGroup}"
                                            class="btn btn-danger">
                                    <i class="fas fa-angle-double-right"></i> [[#{actions.delete}]]
                                </a>
                            </td>                                 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>