<section th:fragment="schedules">
    <div class="container-fluid px-4">
        <h1 class="mt-4">[[#{schedules.subtitle}]]</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">[[#{schedules.subtitle}]]</li>
        </ol>
        
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                [[#{schedules.description}]]
            </div>
            <div class="card-body">
                
                <!-- Button and modal for add new coach form-->
                
                <section th:include="layout/addnewschedule"></section>
                <!-- 
                <section th:include="layout/selectcoach"></section>
                -->

                
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>[[#{schedules.tablehead.id}]]</th>
                            <th>[[#{schedules.tablehead.group}]]</th>
                            <th>[[#{schedules.tablehead.day}]]</th>
                            <th>[[#{schedules.tablehead.week}]]</th>
                            <th>[[#{schedules.tablehead.start}]]</th>
                            <th>[[#{schedules.tablehead.end}]]</th>
                            <th>[[#{schedules.tablehead.zone}]]</th>
                            <th>[[#{schedules.tablehead.coach}]]</th>
                            <th>[[#{actions.edit}]]</th>
                            <th>[[#{actions.delete}]]</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>[[#{schedules.tablehead.id}]]</th>
                            <th>[[#{schedules.tablehead.group}]]</th>
                            <th>[[#{schedules.tablehead.day}]]</th>
                            <th>[[#{schedules.tablehead.week}]]</th>
                            <th>[[#{schedules.tablehead.start}]]</th>
                            <th>[[#{schedules.tablehead.end}]]</th>
                            <th>[[#{schedules.tablehead.zone}]]</th>
                            <th>[[#{schedules.tablehead.coach}]]</th>
                            <th>[[#{actions.edit}]]</th>
                            <th>[[#{actions.delete}]]</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr th:each="schedule, counter : ${schedules}">
                            <td>[[${counter.count}]]</td>
                            <td>[[${schedule.group.name}]]</td>
                            <!-- <td>[[${schedule.day_of_week}]]</td>-->
                            <td th:switch="${schedule.day_of_week}">
                                <span th:case="0">[[#{days.monday}]]</span>
                                <span th:case="1">[[#{days.tuesday}]]</span>
                                <span th:case="2">[[#{days.thursday}]]</span>
                                <span th:case="3">[[#{days.wednesday}]]</span>
                                <span th:case="4">[[#{days.friday}]]</span>
                                <span th:case="5">[[#{days.saturday}]]</span>
                                <span th:case="6">[[#{days.sunday}]]</span>
                            </td>
                            <td>[[${schedule.week}]]</td>
                            <td>[[${schedule.start_at}]]</td>
                            <td>[[${schedule.end_at}]]</td>
                            <td>[[${schedule.zone.name}]]</td>
                            <td>[[${schedule?.coach?.name}]]</td>
                            <td>
                                <a th:href="@{/config/schedules/} + ${schedule.idSchedule}"
                                            class="btn btn-primary">
                                    <i class="fas fa-angle-double-right"></i> [[#{actions.edit}]]
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/config/schedules/delete/} + ${schedule.idSchedule}"
                                            class="btn btn-danger">
                                    <i class="fas fa-angle-double-right"></i> [[#{actions.delete}]]
                                </a>
                            </td>                                 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>