
<section th:fragment="selectcoach">


  <!-- Modal -->
  <div class="modal fade" id="selectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">[[#{addnewcoach.title}]]</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form th:action="@{/config/savecoach}" th:object="${group}" method="POST" class="was-validated">
        <div class="modal-body">
            <div class="modal-body">
                <div class="form-group" >
                    <label for="name">Nombre</label>
                  
                </div>
                
            </div>
 
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">[[#{addnewcoach.close}]]</button>
            <button type="submit" class="btn btn-primary">[[#{addnewcoach.save}]]</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
