<section th:fragment="sidenav">
    <div class="nav">
        <div class="sb-sidenav-menu-heading">Opciones</div>
        <a class="nav-link" href="/config/coaches">
            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
            [[#{config.sidenav.coaches}]]
        </a>
        <a class="nav-link" href="/config/Schedules">
            <div class="sb-nav-link-icon"><i class="fas fa-clock"></i></div>
            [[#{config.sidenav.schedules}]]
        </a>
        <a class="nav-link" href="/config/locations">
            <div class="sb-nav-link-icon"><i class="fas fa-warehouse"></i></div>
            [[#{config.sidenav.locations}]]
        </a>
        <a class="nav-link" href="/config/groups">
            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
            [[#{config.sidenav.groups}]]
        </a>
        <a class="nav-link" href="/config/zones">
            <div class="sb-nav-link-icon"><i class="fas fa-map-marker"></i></div>
            [[#{config.sidenav.zones}]]
        </a>
        <a class="nav-link" href="/config/settings">
            <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
            [[#{config.sidenav.config}]]
        </a>
        <!--
        <a class="nav-link" href="/config/assigments">
            <div class="sb-nav-link-icon"><i class="fas fa-check"></i></div>
            Asignar Grupos
        </a>
    -->
        
        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                    Authentication
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="login.html">Login</a>
                        <a class="nav-link" href="register.html">Register</a>
                        <a class="nav-link" href="password.html">Forgot Password</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                    Error
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="401.html">401 Page</a>
                        <a class="nav-link" href="404.html">404 Page</a>
                        <a class="nav-link" href="500.html">500 Page</a>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
</section>