<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http:://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>[[#{main.title}]]</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script>

        const days = [
                'Domingo',
                'Lunes',
                'Martes',
                'Miercoles',
                'Jueves',
                'Viernes',
                'Sábado',
            ];

            const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
                "Julio", "Agosto", "Septiembre", "Octubre", "Novimbre", "Diciembre"
            ];

            const divNames = ["sun","mon","tue","thu","wed","fri","sat"];

            let date = new Date();

            function nextDay() {

                let day = date.getDay();
                if(day != 0) {
                    date.setDate(date.getDate() + 1);
                    let newDate = (days[date.getDay()] + " - " + date.getDate() + " " + monthNames[date.getMonth()]);
                    document.getElementById('date').textContent = newDate;
                    hideOrShow(date.getDay());
                }
                
            }

            function previousDay() {

                let day = date.getDay();
                if(day != 1) {
                    date.setDate(date.getDate() - 1);
                    let newDate = (days[date.getDay()] + " - " + date.getDate() + " " + monthNames[date.getMonth()]);
                    document.getElementById('date').textContent = newDate;
                    hideOrShow(date.getDay());
                }
            }

            function hideOrShow(day){

                document.getElementById(divNames[1]).classList.remove("d-none");
                let c = divNames[1];

                for(var i = 0; i<7; i++){
                    if(i==day)
                        document.getElementById(divNames[i]).classList.remove("d-none");
                   else
                        document.getElementById(divNames[i]).classList.add("d-none");
                }

            }



    </script>

</head>

<body>
    <header th:replace="layout/public/header :: header"></header>
    <section th:include="~{${'layout/public/' + section} :: ${section}}"></section>


</body>

</html>