<section th:fragment="groupinfo">


    <div id="mon" class="container" th:classappend="${day} != 1 ? d-none">

        <!-- FILTER BY WEEK -->
        <div th:each="schedule : ${mon}" class="d-flex aligns-items-center justify-content-center pt-5"
            th:if="${schedule.week} == ${week - schedule.group.location.week}">
            <div class="card text-center text-white bg-success mb-3" style="width: 18rem; max-width: 18rem;">
                <div class="card-header">[[${schedule.group.name}]] </div>
                <div class="card-body">
                    <h5 class="card-title">[[${schedule.zone.name}]]</h5>
                    <p class="card-text">[[${schedule.start}]] a [[${schedule.end}]] </p>
                </div>
                <div class="card-footer">
                    [[${schedule.group.location.name}]] - [[${schedule.day_of_week}]] - [[${schedule.week}]]
                </div>
            </div>
        </div>

    </div>

    <div id="tue" class="container" th:classappend="${day} != 2 ? d-none">

        <!-- FILTER BY WEEK -->
        <div th:each="schedule : ${tue}" class="d-flex aligns-items-center justify-content-center pt-5"
            th:if="${schedule.week} == ${week - schedule.group.location.week} and true">
            <div class="card text-center text-white bg-success mb-3" style="width: 18rem; max-width: 18rem;">
                <div class="card-header">[[${schedule.group.name}]] </div>
                <div class="card-body">
                    <h5 class="card-title">[[${schedule.zone.name}]]</h5>
                    <p class="card-text">[[${schedule.start}]] a [[${schedule.end}]] </p>
                </div>
                <div class="card-footer">
                    [[${schedule.group.location.name}]] - [[${schedule.day_of_week}]] - [[${schedule.week}]]
                </div>
            </div>
        </div>

    </div>

    <div id="thu" class="container" th:classappend="${day} != 3 ? d-none">

        <!-- FILTER BY WEEK -->
        <div th:each="schedule : ${thu}" class="d-flex aligns-items-center justify-content-center pt-5"
            th:if="${schedule.week} == ${week - schedule.group.location.week} and true">
            <div class="card text-center text-white bg-success mb-3" style="width: 18rem; max-width: 18rem;">
                <div class="card-header">[[${schedule.group.name}]] </div>
                <div class="card-body">
                    <h5 class="card-title">[[${schedule.zone.name}]]</h5>
                    <p class="card-text">[[${schedule.start}]] a [[${schedule.end}]] </p>
                </div>
                <div class="card-footer">
                    [[${schedule.group.location.name}]] - [[${schedule.day_of_week}]] - [[${schedule.week}]]
                </div>
            </div>
        </div>

    </div>

    <div id="wed" class="container" th:classappend="${day} != 4 ? d-none">

        <!-- FILTER BY WEEK -->
        <div th:each="schedule : ${wed}" class="d-flex aligns-items-center justify-content-center pt-5"
            th:if="${schedule.week} == ${week - schedule.group.location.week} and true">
            <div class="card text-center text-white bg-success mb-3" style="width: 18rem; max-width: 18rem;">
                <div class="card-header">[[${schedule.group.name}]] </div>
                <div class="card-body">
                    <h5 class="card-title">[[${schedule.zone.name}]]</h5>
                    <p class="card-text">[[${schedule.start}]] a [[${schedule.end}]] </p>
                </div>
                <div class="card-footer">
                    [[${schedule.group.location.name}]] - [[${schedule.day_of_week}]] - [[${schedule.week}]]
                </div>
            </div>
        </div>

    </div>

    <div id="fri" class="container" th:classappend="${day} != 5 ? d-none">

        <!-- FILTER BY WEEK -->
        <div th:each="schedule : ${fri}" class="d-flex aligns-items-center justify-content-center pt-5"
            th:if="${schedule.week} == ${week - schedule.group.location.week} and true">
            <div class="card text-center text-white bg-success mb-3" style="width: 18rem; max-width: 18rem;">
                <div class="card-header">[[${schedule.group.name}]] </div>
                <div class="card-body">
                    <h5 class="card-title">[[${schedule.zone.name}]]</h5>
                    <p class="card-text">[[${schedule.start}]] a [[${schedule.end}]] </p>
                </div>
                <div class="card-footer">
                    [[${schedule.group.location.name}]] - [[${schedule.day_of_week}]] - [[${schedule.week}]]
                </div>
            </div>
        </div>

    </div>

    <div id="sat" class="container" th:classappend="${day} != 6 ? d-none">

        <!-- FILTER BY WEEK -->
        <div th:each="schedule : ${sat}" class="d-flex aligns-items-center justify-content-center pt-5"
            th:if="${schedule.week} == ${week - schedule.group.location.week} and true">
            <div class="card text-center text-white bg-success mb-3" style="width: 18rem; max-width: 18rem;">
                <div class="card-header">[[${schedule.group.name}]] </div>
                <div class="card-body">
                    <h5 class="card-title">[[${schedule.zone.name}]]</h5>
                    <p class="card-text">[[${schedule.start}]] a [[${schedule.end}]] </p>
                </div>
                <div class="card-footer">
                    [[${schedule.group.location.name}]] - [[${schedule.day_of_week}]] - [[${schedule.week}]]
                </div>
            </div>
        </div>

    </div>

    <div id="sun" class="container" th:classappend="${day} != 0 ? d-none">

        <!-- FILTER BY WEEK -->
        <div th:each="schedule : ${sun}" class="d-flex aligns-items-center justify-content-center pt-5"
            th:if="${schedule.week} == ${week - schedule.group.location.week} and true">
            <div class="card text-center text-white bg-success mb-3" style="width: 18rem; max-width: 18rem;">
                <div class="card-header">[[${schedule.group.name}]] </div>
                <div class="card-body">
                    <h5 class="card-title">[[${schedule.zone.name}]]</h5>
                    <p class="card-text">[[${schedule.start}]] a [[${schedule.end}]] </p>
                </div>
                <div class="card-footer">
                    [[${schedule.group.location.name}]] - [[${schedule.day_of_week}]] - [[${schedule.week}]]
                </div>
            </div>
        </div>

    </div>
</section>