<section th:fragment="header">
  <div class="container">
    <div class="row pt-3">
      <div class="col order-last">
        <button type="button" class="btn btn-primary btn-lg" onclick="nextDay()">
          >
        </button>
      </div>
      <div id="date" class="col text-center">
        <script>
         
          document.write(days[date.getDay()] + " - " + date.getDate() + " " + monthNames[date.getMonth()]);    
        </script>

      </div>
      <div class="col order-first">

        <button type="button" class="btn btn-primary btn-lg float-end" onclick="previousDay()">
          < </button>

      </div>
    </div>
  </div>
</section>